<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/style.css">
    <script src="../../static/js/script.js"></script>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% block header %}
        {% if user_login %}
            <li><a href="{{ url('home')}}">home</a></li>
            <form action="{{ url('search_location') }}" method="get">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                <div class="form-error">{{search_location_form.non_field_errors()}}</div>
                <div class="input-form">
                    <label for="{{search_location_form.location_name.id_for_label}}">{{search_location_form.location_name.label}}</label>
                    {{search_location_form.location_name}}
                    {% if search_location_form.location_name.errors %}
                        <div class="form-error">{{search_location_form.location_name.errors.as_text()}}</div>
                    {% endif %}
                    <input type="submit">
                </div>
            </form>
            <li><a href="{{ url('logout') }}">logout</a></li>
        {% else %}
            <li><a href="{{ url('login') }}">login</a></li>
            <li><a href="{{ url('signup') }}">sign-up</a></li>
        {% endif %}
    {% endblock header %}
    
    {% block content %}
    {% endblock content %}M

    <p>debug</p>
    {% block debug_block %}
    <nav>
            <ul>
                <li><a href="{{ url('home')}}">home</a></li>
                <li><a href="{{ url('search_location') }}">search_location</a></li>
                <li><a href="{{ url('login') }}">login</a></li>            
                <li><a href="{{ url('signup') }}">sign-up</a></li>
                <li><a href="{{ url('logout') }}">logout</a></li>
            </ul>
    </nav>
    {% endblock %}
</body>
</html>