{% extends 'weatherapp/base.html' %}

{% block title %}
Home
{% endblock title %}

{% block header %}
Home
{{ super() }}
{% endblock header %}

{% block content %}
Home

<p>messages begin</p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<p>messages end</p>

<p>saved locations table</p>
{% if user_login and weather_info_list %}
    <table>
        <tr><th>location name</th><th>temperature</th><th>country</th></tr>
        
        {% for weather_info, delete_location_form in zip(weather_info_list, delete_location_form_list) %}
            <form action="{{ url('home') }}" method="post">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <tr>
                <td>{{ weather_info.location_name }}</td>
                <td>{{ weather_info.temperature }}</td>
                <td>{{ weather_info.country_code }}</td>                                
                <td>
                    {{ delete_location_form.location_name }}
                    <input type="submit" value="delete location">
                    {% if delete_location_form.location_name.errors %}
                    <div class="form-error">{{delete_location_form.location_name.errors.as_text()}}</div>
                    {% endif %}
                </td>
            </tr>
            </form>
        {% endfor %}
        <tr></tr>
    </table>

{% elif user_login and not weather_info_list %}
    <p>Сохранённые локации отсутствуют</p>
{% endif %}

{% endblock content %}
