{% extends 'weatherapp/base.html' %}

{% block title %}
Login
{% endblock title %}

{% block header %}
<!-- Login -->
{{ super() }}
{% endblock header %}

{% block content %}
<form action="{{ url('login') }}" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    {% if login_form.non_field_errors() %}
        <div class="form-error form-general-error">Ошибка:
        {% for error in login_form.non_field_errors() %}
            <div class="form-error">{{error}}</div>
        {% endfor %}
        </div>
    {% endif %}
    <div class="input-form">        
        <div class="form-row">
            <label class="row" for="{{login_form.user_login.id_for_label}}">
                <div class="col-12">{{login_form.user_login.label}}</div>
            </label>
            <div class="row">
                <div class="col-12">{{login_form.user_login}}</div>
            </div>
            {% if login_form.user_login.errors %}
                <div class="login-field-error">
                <div class="form-error">Ошибка в логине:</div>
                {% for login_error in login_form.user_login.errors %}
                    <div class="form-error">{{login_error}}</div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <div class="form-row">
            <label class="row" for="{{login_form.user_password.id_for_label}}"><div class="col-12">{{login_form.user_password.label}}</div></label>
            <div class="col-12">{{login_form.user_password}}</div>
            {% if login_form.user_password.errors %}
                <div class="password-field-error">
                    <div class="form-error ">Ошибка в пароле:</div>
                    {% for password_error in login_form.user_password.errors %}
                        <div class="form-error">{{ password_error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <br/>
    <input type="submit" class="btn btn-primary form-control" value="Вход">
</form>
{% if is_error %}
<div class="error_description">{{ error_description }}</div>
{% endif %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock content %}