/* .row>div {
    background: var(--bs-primary);
    border: solid 2px red;
} */

/* .container>div:first-child {
    background-color: aqua;
    height: 100px;
}

.header-separator{
    margin-top: 10px;
    margin-bottom: 0px;
} */

.form-error {
    color: red; /*var(--bs-danger); */
}

.error {
    color: red; /*var(--bs-danger); */
}

@media(max-width: 576px){
    .margin-bottom-adaptive{
        margin-bottom: 10px;
    }
}

@media(min-width: 576px){
    .margin-bottom-adaptive{
        margin-bottom: 0px;
    }
}
