/*h1 {
    color: red;
}

.input-form {
    display: flex;
    box-sizing: border-box;
}

.input-form>.labels, .input-form>.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    margin: 0;
}
.input-form>.labels {
    text-align: right;
    margin-right: 5px;
    padding-bottom: 2px;
}
.input-form>.inputs>label,
.input-form>.inputs>input
{
    margin-bottom: 5px;
}*/

.form-row {
    /* display: inline-block; */
    /* box-sizing: border-box; */
}
.form-error {
    color: red;
    /* display: inline-block; */
}
